<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Add a New Book</h1>
        <form th:action="@{/api/books/admin/add}" th:object="${book}" method="post" class="form">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{book.title}" placeholder="Title">
                </div>
            </div>
            <div class="field">
                <label class="label">Author</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{book.author}" placeholder="Author">
                </div>
            </div>
            <!-- Add more fields as necessary -->
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link">Add Book</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
