<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bulma/css/bulma.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/font-awesome/css/all.min.css}" />
    <script type="text/javascript" th:src="@{/javascript/libraryManagement.js}"></script>
    <title>Book Reservations</title>
</head>
<body class="ml-3">
    <div>
        <p class="title">Reservation Details</p>
        <form method="post" th:action="@{/bookreservation}" th:object="${reservation}">
            <div class="select">
                <select th:field="*{book.book_id}" th:required="required">
                    <option disabled value="0">Book title</option>

                    <option th:each="book :${books}" th:if="${book.status.name()} == 'AVAILABLE'" th:value="${book.book_id}" th:text="${book.title}">
                    </option>
                </select>
            </div>
            <br><br>
            <div class="select">
                <select th:field="*{user.id}" th:required="required">
                    <option disabled value="0">User</option>
                    <option th:each="user :${users}" th:value="${user.id}" th:text="${user.firstName + ' ' + user.lastName}">
                    </option>
                </select>
            </div>
            <br><br>
            <p>Return Date: </p>
            <input type="date" th:field="*{returnDate}" required/>
            <br><br>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" th:text="${btnAddOrModifyLabel}"></button>

                </div>
                <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <p class="title">List of Reservations</p>
    <div th:if="${#lists.isEmpty(reservations)}">No Reservations</div>
    <div th:unless="${#lists.isEmpty(reservations)}">
        <table class="table is-striped is-bordered">
            <tr>
                <th>Id</th>
                <th>Book Name</th>
                <th>Borrower</th>
                <th>Borrowed Date</th>
                <th>Return Date</th>
                <th>Is Checked out? </th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="reservation: ${reservations}">
                <td th:text="${reservation.reservationId}"></td>
                <td th:text="${reservation.book.title}"></td>
                <td th:text="${reservation.user.firstName}"></td>
                <td th:text="${reservation.borrowDate}"></td>
                <td th:text="${reservation.returnDate}"></td>
                <td th:text="${reservation.checkedOut}"></td>
                <td><a th:href="'bookreservations/edit/' + ${reservation.reservationId}"><i class="fas fa-user-edit ml-2"></i></a></td>
                <td><a th:href="'bookreservations/delete/' + ${reservation.reservationId}"><i class="fas fa-user-times ml-2"></i></a></td>
            </tr>
        </table>
    </div>
</body>
</html>